<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Classes Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top"  style="background-color: #222150;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Demo Class", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   @if(Context.User.Identity.IsAuthenticated&&Context.User.IsInRole("Admin")) {
                    <li>@Html.ActionLink("Classes", "index", "StdClasses")</li>
                    <li>@Html.ActionLink("Students", "index", "Students")</li>
                    <li>@Html.ActionLink("Departments", "index", "Departments")</li>
                    <li>@Html.ActionLink("Teachers", "index", "TeacherModels")</li>
                   }
                   else if (Context.User.Identity.IsAuthenticated)
                   {
                    <li>@Html.ActionLink("Classes", "index", "StdClasses")</li>
                    <li>@Html.ActionLink("Students", "index", "Students")</li>
                    <li>@Html.ActionLink("Teachers", "index", "TeacherModels")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="all_center">
            <p>&copy; @DateTime.Now.Year - My Classes Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
 